/*
    CARROUSEL
*/

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

@media (max-width: 768px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

@media (min-width: 768px) {
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
    transform: translateX(33.333%);
    }
    
    .carousel-inner .carousel-item-left.active, 
    .carousel-inner .carousel-item-prev {
        transform: translateX(-33.333%);
    }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
    transform: translateX(0);
}


/*
* CARROUSEL
*/

.carrinho-carousel-control-next,
.carrinho-carousel-control-prev {
    filter: invert(100%) !important;
}

@media (max-width: 768px) {
    .carrinho-carousel-inner .carrinho-carousel-item > div {
        display: none !important;
    }
    .carrinho-carousel-inner .carrinho-carousel-item > div:first-child {
        display: block !important;
    }
}

.carrinho-carousel-inner .carrinho-carousel-item.active,
.carrinho-carousel-inner .carrinho-carousel-item-next,
.carrinho-carousel-inner .carrinho-carousel-item-prev {
    display: flex !important;
}

@media (min-width: 768px) {
    .carrinho-carousel-inner .carrinho-carousel-item-right.carrinho-active,
    .carrinho-carousel-inner .carrinho-carousel-item-next {
    transform: translateX(33.333%) !important;
    }
    
    .carrinho-carousel-inner .carrinho-carousel-item-left.active, 
    .carrinho-carousel-inner .carrinho-carousel-item-prev {
        transform: translateX(-33.333%) !important;
    }
}

.carrinho-carousel-inner .carrinho-carousel-item-right,
.carrinho-carousel-inner .carrinho-carousel-item-left{ 
    transform: translateX(0) !important;
}