@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700");

body, html {
    align-items: center;
    align-self: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-family:"Open Sans",sans-serif;
    line-height:1.8;
    vertical-align: middle !important;
}   
@media (min-width: 992px){
    .header_area .navbar .nav .nav-item.submenu ul {
        position: absolute !important;
        top: 120%;
        right: 0;
        left: auto;
        min-width: 200px;
        text-align: center;
        opacity: 0;
        transition: all 300ms ease-in;
        visibility: hidden;
        display: block;
        border: 1px solid;
        border-color: rgb(255, 131, 15);
        border-radius: 30px 50px 15px;
        border-top-width: 5px;
        border-bottom-width: 5px;
        box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.4);
    }
}
@media (min-width: 992px){
    .header_area .navbar .nav .nav-item.submenu:hover ul{
        visibility:visible;
        opacity:1;
        top:100%;
        border: 1px solid;
        border-color: rgb(255, 0, 0);
        border-radius: 30px 50px 15px;
        border-top-width: 5px;
        border-bottom-width: 5px;
        border-spacing: 5px;
        padding: 5px;
    }
    .header_area.white_menu .navbar .navbar-brand img{
        display:none;
    }
    .header_area.white_menu .navbar .navbar-brand img+img{
        display:inline-block;
    }
}
.navbar-expand-lg .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
}
@media (max-width: 991px){
    .dropdown-menu.show {
        display: contents !important;
    }
    .navbar-toggler{
        border:none;
        border-radius:0px;
        padding:0px;
        cursor:pointer;
        margin-top:27px;
        margin-bottom:23px
    }
    .header_area .navbar{
        background:#d1cff4
    }
    .header_area .navbar .nav-item.active .nav-link{
        color:rgb(255, 131, 15);
        border: 1px solid;
        border-color: rgb(255, 131, 15);
        border-radius: 30px 50px 15px;
        border-top-width: 5px;
        border-bottom-width: 5px;
        border-spacing: 5px;
        padding: 5px;  
    }
    .navbar-expand-lg .navbar-nav {
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .navbar-toggler[aria-expanded="false"] span:nth-child(2){
        opacity:1
    }
    .navbar-toggler[aria-expanded="true"] span:nth-child(2){
        opacity:0
    }
    .navbar-toggler[aria-expanded="true"] span:first-child{
        transform:rotate(-45deg);
        position:relative;
        top:7.5px
    }
    .navbar-toggler[aria-expanded="true"] span:last-child{
        transform:rotate(45deg);
        bottom:6px;
        position:relative
    }
    .navbar-toggler span{
        display:block;
        width:25px;
        height:3px;
        background:rgb(255, 0, 0);
        margin:auto;
        margin-bottom:4px;
        transition:all 400ms linear;
        cursor:pointer
    }
    .header_area .navbar-collapse{
        max-height:340px;
        overflow-y:scroll
    }
    .navbar-nav{
        border:none;
        border-radius:0px;
        padding:0px;
        cursor:pointer;
        display: flex;
    }
    .submenu-nav-item {
        margin-left: 15px;
    }
}
#navbarSupportedContent {
    text-align: left;
}
.nav-item{
    color: rgb(255, 0, 0) !important;
    font-weight: 800;
}
.nav-link{
    color: rgb(255, 0, 0) !important;
    font-weight: 800;
}
.nav-link:hover{
    color: rgb(226, 211, 72) !important;
    font-weight: 800;
}
.nav-animation{
    display: inline-block;
    position: relative;
    color:rgb(255, 0, 0);
}
.nav-animation::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(255, 238, 88);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.nav-animation:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
.justify-content-end {
    -ms-flex-pack: end;
    justify-content: flex-end;
}
#logo_navbar {
    max-width: 100px;
}
.header_area .menu_nav{
    width:100%
}
.footer-icons {
    padding: 20px;
    font-size: 2em !important;
    width: 70px;
    text-align: center;
    text-decoration: none;
    margin: 5px;
    border-radius: 50%;
    color: #fff;
    text-shadow:0 0 5px rgba(255, 255, 255, 0.753);
}
.footer-icons:hover {
    opacity: 0.7;
    color:  rgb(236, 236, 236);
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.753);
    text-decoration: none;
}
.alignment {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}
.carousel-images{
    border-radius: 5%;
    max-width: 100%;
    max-height: 20em;
}
.images-personalize {
    border-radius: 10% 25%;
}
.titulo-home {
    text-transform: capitalize;
    color: rgb(255, 0, 0);
    font-weight: bolder;
}
.texto-home {
    font-size: medium;
    padding-top: 1em;
    padding-bottom: 1em;
}
footer {
    background-color:  rgb(255, 0, 0);
    padding-bottom: 2em;
    padding-top: 2em;
}
.footer-text {
    color: #fff;
}
a {
    color: #fff;
}
a:hover {
    color: #dddddd;
}
p {
    margin: 0em;
}
.card-img {
    max-height: 50%;
    min-height: 50%;
    border-bottom: solid rgb(255, 0, 0) 2px;
    border-radius: 10px;
}
.titulo-produtos {
    font-size: 2em;
    color: rgb(255, 0, 0);
    font-weight: bolder;
    text-transform: capitalize;
}
.card-title-products {
    font-weight: 900;
}
#sobreNosImagem {
    border-radius: 2em;
}
.vertical-align {
    margin-top: auto;
    margin-bottom: auto;
}
.icons-about-us {
    margin-top: 15px;
    padding: 10px;
    font-size: 2em !important;
    color: rgb(255, 0, 0);
    font-weight: bolder;
    text-align: center;
}
.icons-about-us:hover {
    color:rgb(226, 211, 72);
}
.icons-title {
    text-transform: uppercase;
    font-weight: 900;
}
.card-shadow-static {
    box-shadow: 4px 4px 1px 2px rgba(255, 0, 0, 0.753);
}
.card-shadow:hover {
    box-shadow: 4px 4px 1px 1px rgba(255, 0, 0, 0.753);
    transition: box-shadow 0.4s ease-in-out;
}
.title-about-us {
    text-transform: capitalize;
    color: rgb(255, 0, 0);
    font-weight: bolder;
}
.title-contact {
    text-transform: capitalize;
    color: rgb(255, 0, 0);
    font-size: 3em;
    font-weight: bolder;
    text-shadow: 1px 1px 3px rgba(255, 0, 0, 0.5);
}
.title-common {
    text-transform: capitalize;
    color: rgb(255, 0, 0);
    font-weight: bolder;
    text-shadow: 1px 1px 3px rgba(255, 0, 0, 0.5);
}
@media (max-width: 767px){
    .title-contact {
        font-size: 2em;
    }
}
#footer-logo {
    max-width: 10em;
}
.footer-title {
    color: #fff;
    text-transform: capitalize;
    font-weight: bolder;
}
.home-banner {
    background: linear-gradient(to top, #ff0000ba, #f87000cc), url("../../uploads/croche-2.jpg") no-repeat center;
    padding: 9em;
    margin: 0;
}
@media (max-width: 767px){
    .home-banner {
        background: linear-gradient(to top, #ff0000ba, #f87000cc), url("../../uploads/croche-2.jpg") no-repeat center;
        padding: 6em;
        margin: 0;
    }
}
.banner-image {
    margin: 0;
    padding: 0;
}
.banner-carousel {
    opacity: 0.7;
}
.banner-title {
    color: #fff;
    margin: 0;
    padding: 0;
    font-weight: 900;
    font-size: 5vw;
    text-transform: uppercase;
}
.container-login {
    margin-left: auto;
    margin-right: auto;
}
.register-block {
    justify-content: left;
    align-self: center;
    align-content: center;
}
.login-block {
    justify-content: right;
    align-content: center;
    align-self: center;
}
.vertical-line-right {
    border-right: solid #ff0000;
}
.card-product {
    box-shadow: 3px 3px 1px 3px rgb(255, 0, 0);
    border-radius: 10px;
}
.card-product-title {
    font-weight: bolder;
}
.card-product-image {
    border-top-right-radius: 0;
    border-bottom-left-radius: calc(0.25rem - 1px);
    box-shadow: 2px 3px 12px 5px rgba(0, 0, 0, 0.35);
}
.product-value {
    color: #971a1a;
    font-weight: 400;
    text-decoration: underline;
}
.card-product-footer {
    text-decoration: none;
    font-weight: 700;
}
.card-product-footer:hover {
    color: #ff0000 !important;
    text-decoration: none;
}

/* CSS DA VIEW DE CONTATO */
.image-contact {
    box-shadow: 3px 3px 1px 3px rgb(255, 0, 0);
}

/* CSS DA VIEW DE DICAS */
.tip-video {
    border-radius: 30px;
    box-shadow: 3px 3px 1px 3px rgb(255, 0, 0);
}
@media (min-width: 1200px){
    iframe {
        min-width: 560px;
        min-height: 315px;
    }
}
.tip-title {
    color: rgb(255, 0, 0);
    font-weight: bolder;
}
.tip-card-title {
    margin-top: 15px;
    font-size: 2em !important;
    color: rgb(255, 0, 0);
    font-weight: bolder;
    text-align: center;
}
.crudLogin-table {
    border-radius: 20px;  
    border-top: 0 rgba(0, 0, 0, 0) !important;
}
.crudLogin-title {
    margin-top: 15px;
    font-size: 2em;
    color: rgb(255, 0, 0);
    font-weight: bolder;
    text-align: center;
}
.navbar-brand:hover {
    opacity: 0.8;
}
/* PÃGINA DE ERRO */
.erro404 {
    background: linear-gradient(to top, #ff0000ba, #f87000cc), url("../../assets/images/error404.jpg") no-repeat center;
    background-size: cover;
    padding-top: 15em;
    padding-bottom: 15em;
}
@media (max-width: 796px){
    .erro404 {
        padding-top: 6em;
        padding-bottom: 6em;
    }
}
.texto-erro {
    font-size: larger;
    color: #fff;
    font-weight: 900;
}
/* CADASTRO */
.mensagem-redirecionamento {
    color: #971a1a !important;
}
.mensagem-redirecionamento:hover {
    color: #ff0000 !important;
}
/* OCULTAR E DESOCULTAR PARA MOBILE */
.hiddenToPC {
    visibility: hidden;
    display: none;
}
@media (max-width: 767px){
    .hiddenToPC {
        visibility: visible;
        display: flex;
    }
}
.hiddenToMobile {
    visibility: visible;
    display: flex;
    
}
@media (max-width: 767px){
    .hiddenToMobile {
        visibility: hidden;
        display: none;
    }
}
.image-products {
    max-width: 300px;
    max-height: 300px;
}

/**
*   DATATABLES
*/

.page-link {
    border-color: #891919 !important;
    background-color: #b80101 !important;
    color: #fff !important;
}

.dataTables_info {
    vertical-align: middle;
    padding: 2%;
    border-radius: 25px 0 15px 0;
    font-weight: bolder;
    border-color: #891919 !important;
    background-color: #b80101 !important;
    color: #fff !important;
}

.dataTables_length {
    text-align: left;
}

.form-select {
    border-radius: 5px;
    border-color: #000000 !important;
    background-color: #343a40 !important;
    color: #fff !important;
}

.dataTables_filter {
    padding: 2%;
    border-radius: 25px 0 15px 0;
    font-weight: bolder;
    border-color: #000000 !important;
    background-color: #343a40 !important;
    color: #fff !important;
}

select.form-select option:hover {
    box-shadow: 0 0 10px 100px #ad0000 inset !important;
}

/*
 *  CARROUSEL DO CARRINHO
*/

.carrinho.carousel-control-next,
.carrinho.carousel-control-prev {
    filter: invert(100%) !important;
}

@media (max-width: 768px) {
    .carrinho.carousel-inner .carrinho.carousel-item > div {
        display: none;
    }
    .carrinho.carousel-inner .carrinho.carousel-item > div:first-child {
        display: block;
    }
}

.carrinho.carousel-inner .carrinho.carousel-item.active,
.carrinho.carousel-inner .carrinho.carousel-item-next,
.carrinho.carousel-inner .carrinho.carousel-item-prev {
    display: flex;
}

@media (min-width: 768px) {
    .carrinho.carousel-inner .carrinho.carousel-item-right.active,
    .carrinho.carousel-inner .carrinho.carousel-item-next {
    transform: translateX(33.333%);
    }
    
    .carrinho.carousel-inner .carrinho.carousel-item-left.active, 
    .carrinho.carousel-inner .carrinho.carousel-item-prev {
        transform: translateX(-33.333%);
    }
}

.carrinho.carousel-inner .carrinho.carousel-item-right,
.carrinho.carousel-inner .carrinho.carousel-item-left{ 
    transform: translateX(0);
}

/**
* MANTER FOOTER EMBAIXO
*/

main {
    height: auto !important;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
}
footer {
    margin-top: auto;
}